<div ...attributes>
  <label
    for={{unique-id}}
    class="block text-sm text-gray-700 dark:text-gray-400"
  >{{@label}}</label>
  <div class="relative mt-1 rounded-md shadow-sm">
    <input
      type={{@type}}
      name={{@fieldName}}
      id={{unique-id}}
      class="focus:shadow-outline-purple dark:focus:shadow-outline-gray pr-12focus:outline-none block w-full rounded-md border border-cool-gray-200 py-2 px-3 focus:ring-indigo-500 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-300"
      placeholder={{or @placeholder @label}}
    />
  </div>
</div>